.leaflet-control-extbutton a {
  background:#fff url(07_map_marker.png) no-repeat 7px 2px;
  background-size:12px 22px;
}

.leaflet-control-extbuttonBorder a {
  background:#fff url(border_map_marker.png) no-repeat 5px 3px;
  background-size:16px 19px;
}
